body { background-color: AliceBlue; color: DarkBlue; }
h1 { text-align: center; font-variant: small-caps; }
h3 { color: black; }
td { padding-left: 10px; padding-right: 10px; }

tbody>tr:nth-child(even) { background-color: MintCream; }
tbody>tr:nth-child(odd) { background-color: Ivory; }

#news { float: right; border: 2px solid; border-radius: 15px; width: 25%; background-color: white; padding: 10px; }
#news>h3 { text-align: center; }

.error { color: red; background-color: white; border-color: black; border-width: 2px; border-style:solid; }
