body { background-color: AliceBlue; color: DarkBlue; }
h1 { text-align: center; font-variant: small-caps; }
h3 { color: black; }
td { padding-left: 10px; padding-right: 10px; }
td:nth-of-type(n+2) { text-align: right; }

tbody>tr:nth-child(even) { background-color: MintCream; }
tbody>tr:nth-child(odd) { background-color: Ivory; }

.menu { position: fixed; top: 0px; right: 0px; }
.menu a { background-color: AliceBlue;
	  border-style: dashed; border-radius: 2px; border-color: Azure; }

.info { float: right; clear: right;
        border: 2px solid; border-radius: 15px;
        width: 15em; background-color: white; padding: 10px; }
.info h3 { text-align: center; }

.error { color: red; background-color: white; border-color: black; border-width: 2px; border-style:solid; }

.nowrap { white-space:nowrap; }

@media only screen and (max-width: 550px) {
    .info { float: none; width: 90%; }
    .menu { position: inherit; padding-top: 4em; }
}
