<!DOCTYPE html>
<html><head><title>Admin: Commodity Producers</title>
<link rel="stylesheet" type="text/css" href="/static/cp.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Admin Tasks</h1>
<h3>Invite New Players</h3>
<form action="/newinvite" method="post"><p>
<input type="submit" value="Invite:">
<input type="text" name="invitee">
</p>
</form>
<h3>Remove Existing Players</h3>
<dl>{{range .Players}}
<form action="/admin" method="post">
    <dt>Delete {{.Name}}?</dt><dd>
    <input type="hidden" name="delete" value="{{.Name}}">
    <input type="checkbox" name="sure" value="yes">I'm sure.
    <input type="checkbox" name="rsure" value="yes">I'm really sure.
    <input type="checkbox" name="vsure" value="yes">I'm really very sure.
    <input type="checkbox" name="noundo" value="yes">I understand this action is permanent.
    <br><input type="submit" value="Delete {{.Name}}!"></dd>
</form>
{{end}}
</dl>
</body>
</html>
