<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title>Commodity Producers</title>
<link rel="stylesheet" type="text/css" href="/static/cp.css">
</head>
<body>
<h1>Commodity Producers</h1>
<div class="info"><h3>Leader Board</h3>
<table><thead><tr><th>Name</th><th>Net Worth</th></thead><tbody>
{{range .Leader}}<tr><td>{{.Name}}</td><td>${{.Worth}}</td></tr>{{end}}
</tbody>
</table>
</div>
<div class="info"><h3>Today's News</h3>
<p>{{range .News}}{{.}}<br>{{end}}</p>
</div>
<div class="info"><h3>Invite New Player</h3>
<form action="/newinvite" method="post"><p>
<input type="submit" value="Invite:">
<input type="text" name="invitee">
</p>
</form>
</div>
<div id="portfolio"><h3>{{.Name}}'s Portfolio</h3>
<table><thead><tr><th>Name</th><th>Cost</th><th>Shares</th><th>Value</th></tr></thead><tbody>
{{range .Stocks}}<tr><td>{{.Name}}</td><td>${{.Cost}}</td><td>{{.Shares}}</td><td>${{.Value}}</td></tr>{{end}}
<tr><td colspan=3>Cash on Hand</td><td>${{.Cash}}</td></tr>
<tr><td colspan=3>Net Worth</td><td>${{.NetWorth}}</td></tr>
</tbody>
</table>
<form action="/" method="post">
<p>
<select name="action"><option value="buy">Buy</option><option value="sell">Sell</option></select>
<input type="text" name="lots" size=10> board lots of
<select name="stock">
{{range .Stocks}}<option value="{{.Name}}">{{.Name}}</option>{{end}}
</select>
<input type="submit" value="Go"></p>
</form>
</div>
<div class="menu">
<a href="/history">History</a>
<a href="/static/about.html">About</a>
<a href="/logout">Log Out</a>
</div>
</body>
</html>
